<launch>
  <!-- world(NWU)->mocap(WUN)->N02(WUN)->N02/base_link(NWU)->CPPose(NED) -->

  <arg name="launch_rviz"          default="false"/>

  <arg name="fixed_frame"          default="map"/>
  <arg name="vehicle_tf_prefix"    default=""/>
  <arg name="rate"                 default="100.0"/>
  <arg name="offset"               default="[0.0, 0.0, 0.0]"/>
  <arg name="radius"               default="1.0"/>
  <arg name="speed"                default="1.0"/>

  <node pkg="vicon_tools" type="fake_tf_broadcaster" name="fake_tf_broadcaster">
    <rosparam subst_value="true">
      parent_frame_id: $(arg fixed_frame)
      child_frame_id: $(arg vehicle_tf_prefix)base_link
      rate: $(arg rate) # Hz
      offset: $(arg offset) # meters
      radius: $(arg radius) # meters
      speed: $(arg speed) # meters/sec
    </rosparam>
  </node>

  <node pkg="rviz" type="rviz" name="vicon_rviz" args="-d $(find vicon_tools)/rviz/vicon.rviz" if="$(arg launch_rviz)"/>

</launch>
