<launch>

  <arg name="launch_vicon"         default="true"/>
  <arg name="launch_odom_tools"    default="true"/>
  <arg name="launch_rviz"          default="false"/>

  <arg name="fixed_frame"          default="map"/>
  <arg name="vehicle_name"         default="N01"/>
  <arg name="vehicle_tf_prefix"    default=""/>
  <arg name="vehicle_topic_prefix" default="/"/>
  <arg name="offset"               default="[0.0, 0.0, 0.0]"/>
  <arg name="radius"               default="1.0"/>
  <arg name="speed"                default="1.0"/>
  
  <include file="$(find vicon_tools)/launch/fake_vicon.launch" if="$(arg launch_vicon)">
    <arg name="launch_rviz"       value="false"/>
    <arg name="fixed_frame"       value="$(arg fixed_frame)"/>
    <arg name="vehicle_tf_prefix" value="$(arg vehicle_tf_prefix)"/>
    <arg name="rate"              value="100.0"/>
    <arg name="offset"            value="$(arg offset)"/>
    <arg name="radius"            value="$(arg radius)"/>
    <arg name="speed"             value="$(arg speed)"/>
  </include>

  <include file="$(find vicon_tools)/launch/odom_tools.launch" if="$(arg launch_odom_tools)">
    <arg name="launch_rviz"          value="false"/>
    <arg name="vehicle_name"         value="$(arg vehicle_name)"/>
    <arg name="vehicle_topic_prefix" value="$(arg vehicle_topic_prefix)"/>
    <arg name="vehicle_tf_prefix"    value="$(arg vehicle_tf_prefix)"/>"
    <arg name="fixed_frame"          value="$(arg fixed_frame)"/>
  </include>

  <node pkg="rviz" type="rviz" name="vicon_demo_rviz" args="-d $(find vicon_tools)/rviz/vicon.rviz" if="$(arg launch_rviz)"/>

</launch>
