<launch>
  <!-- world(NWU)->mocap(WUN)->N02(WUN)->N02/base_link(NWU)->CPPose(NED) -->

  <arg name="launch_rviz"          default="false"/>

  <arg name="fixed_frame"          default="map"/>
  <arg name="mocap_frame"          default="mocap"/>
  <arg name="vehicle_name"         default="N01"/>
  <arg name="vehicle_tf_prefix"    default=""/>
  <arg name="rate"                 default="100.0"/>

  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_fixed2mocap" args="0 0 0 1.57 0 1.57 $(arg fixed_frame) $(arg mocap_frame)"/>

  <include file="$(find vicon_tools)/launch/vrpn.launch">
    <arg name="server"    value="tracker"/>
    <arg name="frame_id"  value="$(arg mocap_frame)"/>
    <arg name="rate"      value="$(arg rate)"/>
  </include>

  <node pkg="tf2_ros" type="static_transform_publisher" name="tf_vehicle2base_link" args="0 0 0 -1.57 -1.57 0 $(arg vehicle_name) $(arg vehicle_tf_prefix)base_link"/>

  <node pkg="rviz" type="rviz" name="vicon_rviz" args="-d $(find vicon_tools)/rviz/vicon.rviz" if="$(arg launch_rviz)"/>

</launch>
