<launch>

  <arg name="server"                    default="localhost"/>
  <arg name="port"                      default="3883"/>
  <arg name="rate"                      default="100.0"/>
  <arg name="frame_id"                  default="world"/>
  <arg name="use_server_time"           default="false"/>
  <arg name="broadcast_tf"              default="true"/>
  <arg name="refresh_tracker_frequency" default="1.0"/>

  <arg name="output"                    default="screen"/>
  <arg name="launch_prefix"             default=""/>
  <arg name="respawn"                   default="true"/>
  <arg name="required"                  default="false"/>

  <node pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn_client_node" 
    output="$(arg output)" launch-prefix="$(arg launch_prefix)" respawn="$(arg respawn)" required="$(arg required)">
    <rosparam subst_value="true">
      server: $(arg server)
      port: $(arg port)

      update_frequency: $(arg update_frequency)
      frame_id: $(arg frame_id)

      # Use the VRPN server's time, or the client's ROS time.
      use_server_time: $(arg use_server_time)
      broadcast_tf: $(arg broadcast_tf)

      # Must either specify refresh frequency > 0.0, or a list of trackers to create
      refresh_tracker_frequency: $(arg rate)
      #trackers:
      #- FirstTracker
      #- SecondTracker
    </rosparam>
  </node>

</launch>